.clear-cart button {
  width: 100%;
  background-color: #ff3030;
  padding: 8px;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  margin-bottom: 16px;
  cursor: pointer;
}
.review-order button {
  width: 100%;
  background-color: #ff9900;
  padding: 8px;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  margin-bottom: 16px;
  cursor: pointer;
}
.order-summary {
  margin-bottom: 50px;
}
.grand-total {
  font-size: 21px;
  font-weight: 400;
}
.ema-john-cart {
  position: sticky;
  top: 0;
}
